<app-nav-bar></app-nav-bar>
 <div class="container">
  <div class="col-md-12">
    <div class="row" *ngIf="selectedChampion == undefined || ''">
      <div class="col-md-8">
        <h4>Selecione um campeão!</h4>
      </div>
    </div>
    <div class="row" *ngIf="selectedChampion != undefined">
      <div class="col-md-12 p-5" >
        <div style="position: absolute; top: 4.30em; left: 0.1em; width: 800px;">
          <img height="100%" width="100%" src="assets\img\champion\splash\{{champion.id}}_0.jpg">
        </div>
      </div>
    </div>
  </div>
</div>


