<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="row">
    <div *ngIf="null">
      <div class="col-md-6 p-5 h-50" >
        <div style="background-color: rgb(255, 255, 255); width: 300px; height: 500px;"><img src="" alt="image do personagem selecionado"></div>
      </div>
      <div class="col-md-6 p-5">
        <div style="background-color: rgb(255, 255, 255); width: 300px; height: 300px;">teste</div>
      </div>
    </div>
    <button (click)="getInformationChampions()">testando</button>
  </div>
</div>
